<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.artistech.ee.web.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAMR</servlet-name>
        <servlet-class>com.artistech.ee.yellow.CAMR</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/home/matta/Dev/camr</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ViewRaw</servlet-name>
        <servlet-class>com.artistech.ee.web.ViewRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiberalEvent</servlet-name>
        <servlet-class>com.artistech.ee.yellow.LiberalEvent</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/work/Documents/FOUO/EntityExtraction/LiberalEvent</param-value>
        </init-param>
        <init-param>
            <param-name>classpath</param-name>
            <param-value>target/liberal-event-1.0.jar:Lib/dom4j-1.6.1.jar:Lib/httpclient-4.3.1.jar:Lib/httpcore-4.3.jar:Lib/java-json.jar:Lib/junit.jar:Lib/log4j-1.2.17.jar:Lib/servlet-api-2.5.jar:Lib/SpectralClustering.jar:Lib/stanford-chinese-corenlp-2015-04-20-models.jar:Lib/stanford-corenlp-3.5.2.jar:Lib/trove-3.0.0a1.jar:Lib/urlencode-ui-1.1.jar:Lib/w3c-dom.jar:Lib/xom-1.2.6.jar:Lib/bsh-2.0b4.jar</param-value>
        </init-param>
        <init-param>
            <param-name>script</param-name>
            <param-value>liberal-parser.bsh</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProcessOutput</servlet-name>
        <servlet-class>com.artistech.ee.web.ProcessOutput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessMonitor</servlet-name>
        <servlet-class>com.artistech.ee.web.ProcessMonitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KillProcess</servlet-name>
        <servlet-class>com.artistech.ee.web.KillProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAMR</servlet-name>
        <url-pattern>/CAMR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRaw</servlet-name>
        <url-pattern>/ViewRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiberalEvent</servlet-name>
        <url-pattern>/LiberalEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOutput</servlet-name>
        <url-pattern>/ProcessOutput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessMonitor</servlet-name>
        <url-pattern>/ProcessMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KillProcess</servlet-name>
        <url-pattern>/KillProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>com.artistech.ee.web.PipelineInit</listener-class>
    </listener>
</web-app>
